<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/main}">
<head>
    <meta charset="UTF-8">
    <title>Students</title>
</head>
<body>

<section class="hero" layout:fragment="content">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                EC Utbildning
            </h1>
            <h2 class="subtitle">
                <i>Your</i> one trick pony to all things education management!
            </h2>
        </div>
    </div>
</section>
</body>
</html>