<!DOCTYPE html>
<html   xmlns="http://www.w3.org/1999/xhtml"
        xmlns:th="http://www.thymeleaf.org"
        xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="userinfo">
    <span sec:authorize="isAuthenticated()">
        Username: <span sec:authentication="name"></span> |
        Roles: <span sec:authentication="principal.authorities"></span> |
        <a th:href="@{/logout}">Logga ut</a>
    </span>
</div>
</body>
</html>